table, tr, td {
    border-collapse: collapse;
    border:1px solid  rgb(154, 73, 225);
    background-color: rgb(195, 155, 153);
}

h4 {
    color:blue
}

#cd {
    background-color: rgb(243, 241, 126);
}
input[type='Submit'] {
    border-radius: 10px;
}
.Result {
    margin-top: 20px;
}
.nd {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid;
}